<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>chore>/td<
            <td>date</td>
            <td>completed</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["chore"]}}</td>
               <td> {{ row["date"]}}</td>
               <td>{{row['completed']}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
   </body>
</html>
